.button{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: blueviolet;
    color:white;
    cursor: pointer;
    border: 1px solid blueviolet;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}